body {
  background: lightblue;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 100px;
  width: 400px;
  height: 550px;
  background: white;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 60px;
    background: blue;

    li {
      color: white;
    }

    i {
      color: white;
    }
  }

  .chat__main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .chat {
      color: silver;
      font-weight: 100;
      font-family: sans-serif;
    }

    .before {
      width: 140px;
      height: 1px;
      background: silver;
      position: relative;
    }

    .after {
      width: 140px;
      height: 1px;
      background: silver;
      position: relative;
    }
  }

  .messages {
    .time {
      font-size: small;
      margin-left: 10px;
    }
    .message {
      margin-top: -15px;
      margin-left: 10px;
      width: 300px;
      background: rgb(192, 237, 246);
      border-radius: 20px;
      border-top-left-radius: 0;
      .message__text {
        padding: 10px;
      }
    }

    .second_time {
      margin-left: 360px;
    }
    .second_m {
      position: relative;
      left: 80px;
      border-radius: 20px;
      border-top-right-radius: 0;
    }

    .line {
      width: 90%;
      height: 1px;
      background: silver;
      display: block;
      margin: auto;
    }

    form {
      margin-top: 10px;
      display: flex;
      justify-content: center;

      input {
        width: 250px;
        padding: 10px;
        border: none;

        ::placeholder {
          color: darkgray;
          font-size: 25px;
        }
      }

      button {
        color: blue;
        font-size: 15px;
        font-family: sans-serif;
        border: none;
        background: white;
        font-weight: 200;
      }
    }
  }
}
